@{
    ViewData["Title"] = "İletişim";
}

<h2 class="mb-3">İletişim</h2>

<p>Bizimle iletişime geçmek için aşağıdaki bilgilerden faydalanabilirsiniz:</p>

<ul>
    <li><strong>Telefon:</strong> +90 216 344 08 09</li>
    <li><strong>Email:</strong> info@vector-tr.com</li>
    <li><strong>Adres:</strong> İçerenköy Mahallesi Kayışdağı Caddesi İmpa İş Merkezi No:64 Kat:6 Ataşehir İstanbul</li>
</ul>


