@model List<TeknikServis.DTO.ServisTalebiDto>


    <h2 class ="mb-4 text-center text-primary">Teknik Servis Talebi</h2>

    <!-- ✅ Talep oluşturma linki (form yok artık) -->
   

    <hr class="mt-5" />
    <h3>Gönderilen Servis Talepleri</h3>

    <table class="table table-striped table-hover table-bordered table-responsive">

        <thead class="table-dark">

            <tr>
                <th>Ürün</th>
                <th>Açıklama</th>
                <th>Durum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var talep in Model)
            {
                <tr>
                    <td>@talep.UrunId</td>
                    <td>@talep.Aciklama</td>
                    <td>@talep.TalepDurumu</td>
                </tr>
            }
        </tbody>
    </table>

