 @model TeknikServis.DTO.ServisTalebiDto

@{
    ViewData["Title"] = "Teknik Servis Talebi";
    var kullaniciId = Context.Session.GetInt32("kullaniciId") ?? 0;
}

<h2 class ="mb-4 text-center text-info">Teknik Servis Talebi Oluştur</h2>

<form id="talepForm" asp-action="YeniTalep" asp- enctype="multipart/form-data" method="post">

   
    <div class="form-group">

        <label for="urunAdi">Kategori Adı</label>
        <select name="KategoriId" id="KategoriId" class="form-control" onchange="getUrunlerByKategori()">
            <option>Kategori Seçiniz</option>
            @foreach(var kategori in (List<(int value, string Description)>)ViewBag.Kategoriler)
            {
                <option value="@kategori.value">@kategori.Description</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="urunAdi">Ürün Adı</label>
        <select  name="UrunId" id="UrunId" class="form-control">
            <option>Önce Kategori Seçiniz</option>
        </select>
     
    </div>

    <div class="form-group">
        <label for="aciklama">Açıklama</label>
        <textarea asp-for="Aciklama" class="form-control" id="aciklama" required></textarea>
        <span asp-validation-for="Aciklama" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="aciklama">Talep Resimleri</label>
        <input type="file" id="TalepResimleri" name="TalepResimleri" multiple>
    </div>

    <input type="hidden" id="kullaniciIdInput" value="@kullaniciId" />

    <input type="submit" value="Gönder" class="btn btn-primary btn-sm rounded shadow-sm px-3 mt-3" />
    @* <button type="button" onclick="talepGonder()" class="btn btn-primary btn-sm rounded shadow-sm px-3">Gönder</button>   *@
</form>

<script>
    function getUrunlerByKategori() {

        let categoryId = document.getElementById("KategoriId").value;

        fetch(`/ServisTalebi/GetUrunlerByKategori?id=${categoryId}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error("Sunucu hatası!");
                }
                return response.json();
            })
            .then(data => {
                console.log("Gelen Ürünler:", data);

                // Örnek: Verileri HTML'e eklemek
                const urunListesi = document.getElementById("UrunId");
            

               // Önceki seçenekleri temizle
            urunListesi.innerHTML = "<option value=''>Ürün Seçiniz</option>";

            // Gelen ürünleri ekle
            data.forEach(urun => {
                const option = document.createElement("option");
                option.value = urun.id;
                option.textContent = urun.ad + " (Min. Servis Ücreti :"+urun.minServisUcreti+" - Max. Servis Ücreti :"+urun.maxServisUcreti+")";
                urunListesi.appendChild(option);
            });
            })
            .catch(error => {
                console.error("Hata oluştu:", error);
            });
    }


    function talepGonder() {
        const kullaniciId = parseInt(document.getElementById("kullaniciIdInput").value);

        if (!kullaniciId || isNaN(kullaniciId)) {
            alert("Kullanıcı bilgisi alınamadı.");
            return;
        }

        const resimler =  document.getElementById("TalepResimleri").value;
        debugger;
        const talep = {
           urunAdi: "",
           urunId: document.getElementById("UrunId").value,
            aciklama: document.getElementById("aciklama").value,
            kullaniciId: kullaniciId,
            talepDurumu: "Oluşturuldu",
            talepResimleri : "",
            talepTarihi: null
        };

        fetch("https://localhost:44365/api/ServisTalebi", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "kullaniciId": kullaniciId  // Session'dan gelen ID'yi header'a ekliyoruz
            },
            body: JSON.stringify(talep)
        })
        .then(response => {
            if (response.ok) {
                alert("Talep başarıyla gönderildi!");
                location.href = "KendiTaleplerim";
            } else {
                response.text().then(text => alert("Sunucu hatası: " + text));
            }
        })
        .catch(error => {
            console.error("Fetch hatası:", error);
            alert("Beklenmedik bir hata oluştu.");
        });
    }
</script>
