@model List<TeknikServis.DTO.RandevuDto>

<h2>Randevu Listesi</h2>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Müşteri</th>
            <th>Servis Talebi No</th>
            <th>Tarih</th>
            <th>Durum</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ServisTalebi.Kullanici.AdSoyad</td>
                <td>@item.ServisTalebiId</td>
                <td>@item.Tarihi.ToString("yyyy-MM-dd")</td>
                <td>@item.RandevuDurumu</td>
                <td>
                    <a href="/Randevu/Edit/@item.Id" class="btn btn-sm btn-warning">Düzenle</a>
                    <a href="/Randevu/Delete/@item.Id" class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
